.bigbox {
    position: absolute;
    width: 335px;
    height: 730px;
    right: 5rem;
    top: 6rem;

    background: #FFFFFF;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.mainPhoto {
    width: 100%;
    height: 15rem;
    border-radius: 50px 50px 0px 0px;
}

.grade {
    display: flex;
    margin-left: .5rem;
}

.attributes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.buttonBox {
    position: absolute;
    bottom: 2rem;
    left: 30%;
}

.starsContainer {
    margin: 0 0.5rem 0 0.5rem;
}

h3 {
    margin-left: 0.5rem;
}
