.backgroundSign { 
    background: url(src/assets/backgroundSign.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.section {
    width: 45rem;
    height: 50rem;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;

}

.burger {
  position: fixed;
  top: 2%;
  left: 2%;
  filter: drop-shadow(4px 5px 4px rgba(0, 0, 0, 0.25));
  z-index: 100;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5em;
}

.content {
  margin: 0 1rem;
}

footer {
  color: white;
}

.menuAnimation {
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
}

.menuAnimation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(245, 238, 230);
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.menuAnimation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
