.grade {
    display: flex;
    margin-left: .5rem;
}

.attributes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.buttonBox {
    position: absolute;
    bottom: 2rem;
    left: 30%;
}

.starsContainer {
    margin: 0 0.5rem 0 0.5rem;
}

h3 {
    margin-left: 0.5rem;
}

.hours {
    padding-left: 0.5rem;
    font-style: italic;
}